.mail-details {
    margin-top: 100px;
    justify-content: center;
}

.details-table {
    background-color: white;
}

.fa-sticky-note {
    color: rgb(189, 185, 185);
    font-size: 1.5rem;
    padding: 5px;
    text-align: end;
}

.fa-sticky-note:hover {
    color: #333;
}

.mail-details-body {
    font-size: 1.2rem;
    line-height: 1.7em;
}