.new-note-input {
    width: 40%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    background-color: white;
    top: 10px;
    border-radius: 10px;
    padding: 15px;
    border: 0.5px solid black;
}

.note-types {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.note-types>* {
    width: 10%;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 10px;
}

.note-types>*:hover {
    width: 15%;
    background-color: rgba(0, 0, 0, 0.13);
}
.note-types>*:active {
    position: relative;
    top:2px
}

.add-note {
    display: flex;
}

input.new-note {
    width: 100%;
    outline: none;
    font-size: 150%;
    border-radius: 10px;
    border: 0.5px solid black
}

input.new-note:hover {
    font-size: 170%;
    border: 1px solid black
}

input.new-note:active {
    position: relative;
    top: 2px;
}

.add-btn {
    margin-left: 5px;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    transition: 0.3s;
}
.add-btn:hover {
    width: 2.3rem;
    height: 2.3rem;
}
.add-btn:active {
    position: relative;
    top:2px
}