* {
    box-sizing: border-box;
}

.note-app {
    display: flex;
    position: relative;
    flex-direction: column;
}

.note-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.note {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 200px;
    margin: 10px;
    border: 1px solid black;
    transition: 0.5s;
}

.note p {
    text-align: center;
}

.note-container {
    height: fit-content;
}


.todo {
    cursor:pointer ;
}

.todo.done {
    text-decoration: line-through;
}

.edit-btn{
    width: 20px;
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
}
