* {
    box-sizing: border-box;
}

.note-app {
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: #e8e8e8;
}

.note-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.note {
    display: flex;
    position: relative;
    flex-direction: column;
    margin: 10px;
    width: 285px;
    border: 1px solid black;
    align-items: center;
    transition: 0.3s;
    border-radius: 10px;
    box-shadow:0px 2px 10px 5px #00000054 ;
    padding: 10px;
}

.note:hover{
    width: 315px;
}

.note p {
    text-align: center;
}

.note-container {
    height: fit-content;
}

.todo {
    cursor: pointer;
}

.todo.done {
    text-decoration: line-through;
}

.edit-btn {
    width: 20px;
    position: absolute;
    cursor: pointer;
    top: 5px;
    right: 5px;
    border: 0.5px solid black;
    border-radius: 50%;
}

.preview-img {
    width: 90%;
    border-radius: 10px;
}

.from-to-details{
    display: flex;
    width: 100%;
    justify-content: space-around;
    color: gray;
}