a {
    text-decoration: none;
    color: inherit;
}

.header-content button:hover,
a:hover {
    text-decoration: underline;
}

.app-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}

.app-header h1 {
    padding-bottom: 5px;
}

.app-header ul {
    display: flex;
    margin-left: 20px;
}

.app-header li {
    margin-left: 10px;
    padding: 5px;
}

.app-header .active {
    font-weight: bold;
    color: rgb(139, 133, 133);
}

.app-header .active-nav {
    color: rgb(139, 133, 133);
}

.header-content button,
.header-content {
    margin-inline-end: 3rem;
    color: whitesmoke;
    font-size: 1.5rem;
}

.header-content button {
    border: none;
    background-color: inherit;
    cursor: pointer;
}